In [1]:
%matplotlib widget

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.DataFrame()

N = 1000

df['amp'] = np.random.random_sample(N)

df['ph'] = 2*np.pi*np.random.random_sample(N)

df['re'] = df['amp']*np.cos(df['ph'])

df['im'] = df['amp']*np.sin(df['ph'])

df['ans'] = df['re'].cumsum()**2+df['im'].cumsum()**2

df['ampsq'] = df['amp']**2

In [10]:
df['ans'][-1:]

999    343.296101
Name: ans, dtype: float64

In [11]:
df['ampsq'].sum()

332.98054226043246

In [12]:
df['sum'] = df['ans']-df['ampsq'].cumsum()

In [14]:
fig, ax = plt.subplots()

ax.plot(df.index, df['ans'])
ax.plot(df.index, df['ampsq'].cumsum())
ax.plot(df.index, df['sum'])

ax.legend(['answer', 'amp sq sum', 'weird sum'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [7]:
df

          amp        ph        re        im         ans     ampsq         sum
0    0.864660  6.275644  0.864636 -0.006521    0.747638  0.747638    0.000000
1    0.897921  4.597504 -0.102931 -0.892002    1.387538  0.806262   -0.166362
2    0.859315  1.258841  0.263741  0.817841    1.058049  0.738423   -1.234274
3    0.348922  5.047431  0.114729 -0.329521    1.468264  0.121746   -0.945806
4    0.841393  2.332686 -0.580805  0.608776    0.352325  0.707943   -2.769687
..        ...       ...       ...       ...         ...       ...         ...
995  0.643431  4.597263 -0.073912 -0.639171  493.868308  0.414003  154.415185
996  0.869874  4.118895 -0.486487 -0.721118  460.234499  0.756681  120.024696
997  0.534197  4.957714  0.129741 -0.518202  455.096038  0.285367  114.600868
998  0.977587  3.570631 -0.888984 -0.406673  414.361903  0.955675   72.911058
999  0.287577  1.660244 -0.025689  0.286428  418.699390  0.082701   77.165844

[1000 rows x 7 columns]

In [8]:
df['sum'] = [df['amp'][i]*(df['amp'][i+1:]*np.cos(df['ph'][i]-df['ph'][i+1:])).sum() for i in df.index if i<len(df.index)]